@mixin absolutePositioning ($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}


// Media queries
/* 
0 - 600px:      Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
1200-1800px:    normal 
1800px + ...:   Big desktop

$breakpoint arguments
 - phone
 - tab-port
 - tab-land
 - big-desktop

 1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content
    };
  }


  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content
    };
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content
    };
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content
    };
  }
}