html {
  font-size: 62.5%; // 1rem = 10px = 16px 62.5%;

  @include respond (big-desktop) {
    font-size: 75%; //1rem = 12, 12 * 100% / 16 = 75%
  }

  @include respond (tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9 * 100% / 16 = 56.25%
  }

  @include respond (tab-port) {
    font-size: 50%; // 1rem = 8px, 8 * 100% / 16 = 50%
  } 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

body {
  padding: 30px;

  @include respond(tab-port) {
    padding: 0;
  }
}