.heading-primary {
  text-transform: uppercase;
  color: $color-white;
  margin-bottom: 60px;
}

.heading-primary--main {
  display: block;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 35px;
  animation: moveInRight 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 17.5px;
  animation: moveInLeft 1s ease-out;
}